* {
  font-family: "Fjalla One", sans-serif;
}
.container {
  height: 60vh;
  margin: 0rem 10rem;
  border: 3px solid olive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 0rem 15rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: white;
  color: olive;
  border: 2px solid olive;
  margin: 0rem 2rem;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
button:hover {
  background-color: olive;
  color: white;
  transition: 0.5s ease-in-out;
}
span {
  color: olive;
}
